@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Layout Hoş Geldiniz</h2>
        <p>Burası Layout Alanıdır</p>
        @RenderBody()
    </div>
</body>
</html>
